@model IEnumerable<MyPortfolio.Admin.Models.SearchViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Arama Sonuçları</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>

            @Html.Raw(item.Description)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Type)
        </th>
        <td>
            @if (item.Type == "Kategori")
            {
                <a href="@Url.Action("Details","Category", new { Id = item.Id })" class="btn btn-info btn-sm">Detaylar</a>
            }
            @if (item.Type == "Yazı")
            {
                <a href="@Url.Action("Details","Post", new { Id = item.Id })" class="btn btn-info btn-sm">Detaylar</a>
            }
            @if (item.Type == "Sayfa")
            {
                <a href="@Url.Action("Details","Page", new { Id = item.Id })" class="btn btn-info btn-sm">Detaylar</a>
            }
        </td>
    </tr>
    }
</table>