@model IEnumerable<MyPortfolio.Model.Project>

@{
    ViewBag.Title = "Projeler";
}

<!-- start banner Area -->
<section class="about-banner">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    @ViewBag.Title
                </h1>
                <p class="text-white link-nav"><a href="@Url.Action("Index", "Home")">Anasayfa</a>  <span class="lnr lnr-arrow-right"></span>  <a href="@Url.Action("Index", "Project")"> Portfolio</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start portfolio-area Area -->
<section class="portfolio-area section-gap" id="portfolio">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Öne Çıkan Projeler</h1>

                </div>
            </div>
        </div>""

        <div class="filters">
            
            <ul>
                <li class="active" data-filter="*">Tümü</li>
                @foreach (var item in (IEnumerable<MyPortfolio.Model.Technology>)ViewBag.Technologies)
                {
                    <li data-filter=".@(item.Name)">@(item.Name)</li>
                }
            </ul>
            

        </div>

        <div class="filters-content">
            <div class="row grid">
                @foreach (var item in Model)
                {
                    <div class="single-portfolio col-sm-4 all @(item.Technology.Name)">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="~/img/@(item.Photo)" alt="">
                            </div>
                            <a href="/img/@(item.Photo)" class="img-pop-up">
                                <div class="middle">
                                    <div class="text align-self-center d-flex"><img src="~/img/@(item.Photo)" alt=""></div>
                                </div>
                            </a>
                        </div>
                        <div class="p-inner">
                            <h4>@(item.Name)</h4>
                            <div class="cat">@(item.Technology.Name)</div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</section>
<!-- End portfolio-area Area -->
